# Arquivos de sistema
.DS_Store
Thumbs.db

# Dependências (O mais importante!)
node_modules/
backend/node_modules/
frontend/node_modules/

# Logs de erro
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente (Segurança!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env

# Quasar/Frontend (Caminhos atualizados)
frontend/.quasar/
frontend/dist/
frontend/quasar.config.*.temporary.compiled*

# Mobile (Cordova/Capacitor no frontend)
frontend/src-cordova/node_modules/
frontend/src-cordova/platforms/
frontend/src-cordova/plugins/
frontend/src-cordova/www/
frontend/src-capacitor/www/
frontend/src-capacitor/node_modules/

# Editores e IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln